@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 60px;  /*上部からのbodyの開始位置の指定*/
}

section {
  overflow: auto;  /*BOXの処理　※収まらない場合にどうするか?*/
}

textarea {
  resize: vertical;  /*テキストエリアの高さ変更可*/
}

.center {
  text-align: center;  /*center_classの水平方向の揃え方を指定*/
}

.center h1 {
  margin-bottom: 10px;  /*center_classのh1要素の下余白の指定指定*/
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;  /*行の高さを設定するプロパティ*/
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;  /*文字間の隙間を指定*/
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;  /*フォントの太さを指定*/
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;  /*要素のテキストを大文字表記する方法を指定*/
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;  /*下線や上線など、要素内の文字列に使われる装飾の種類を設定*/
}

/* debug */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}